<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me!</h2>
                <hr class="light">
                <p class="text-faded">When I was growing up, I enjoyed the fact that I could be inspired by so many different types of people; philosophers, artists, lawyers, sportsmen, scientists etc. I did not like the idea that after leaving University I would have to pigeonhole myself into a certain bracket. Ie. “I am Jake, the banker” or “Have you met Jake?, He is a lawyer”.<br>

                I want to be able to do lots of different things and have a more rounded existence. I enjoy and extract value from the cross-fertilization of disciplines. It is therefore my intention to have the freedom of being pan-sector. One of the really cool things about tech is that it allows you to do that. <br>

                I intend to engage and be a part of lots of different weird and wonderful things. So long as it interests me and I can learn something from it then I am game. The way that I will go about doing this is by helping entrepreneurs go from ideation to product. 
                </p>
                <a href="#" class="btn btn-default btn-xl">Get a sense of my Vibe!</a>
            </div>
        </div>
    </div>
</section>

